<!DOCTYPE html>
<html>
   <head>
      <title>HHEC</title>
      <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1">
   </head>
   <body>
      <div class="container-fluid">

         <div class="row navbarRow">
            <div class="col-sm-12">
             <nav class="navbar navbar-expand-md">
             <a class="navbar-brand" href="/">HHEC</a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                 <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/program">Program</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/tickets">Tickets</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link active" href="/FAQ">FAQs</a>
                 </li>
                </ul>
             </div>
             </nav>
          </div>
         </div>

         <br>

         <div class="row">
            <div class="col-sm-12">
               <ul class="list-group">

                  <div id="question1">
                     <li class="list-group-item">Who will be speaking at the conference?</li>
                  </div>
                  <div id="answer1" style="display:none;">
                     <p>The entirety of Dreamville, Drake, Lil Wayne, Future, and Joey Bada$$. </p>
                  </div>

                  <div id="question2">
                     <li class="list-group-item">What if I can only be there for part for part of the conference?</li>
                  </div>
                  <div id="answer2" style="display:none;">
                     <p>That's chill.</p>
                  </div>

                  <div id="question3">
                     <li class="list-group-item">How do I get there?</li>
                  </div>
                  <div id="answer3" style="display:none;">
                     <p>We'll send some PJs your way.</p>
                  </div>

                  <div id="question4">
                     <li class="list-group-item">Where do the events take place?</li>
                  </div>
                  <div id="answer4" style="display:none;">
                     <p>The events take place on Princeton's campus.</p>
                  </div>

                  <div id="question5">
                     <li class="list-group-item">Where will I stay overnight?</li>
                  </div>
                  <div id="answer5" style="display:none;">
                     <p>In Jay's room.</p>
                  </div>

                  <div id="question6">
                     <li class="list-group-item">Do students get a discount?</li>
                  </div>
                  <div id="answer6" style="display:none;">
                     <p>Of course!</p>
                  </div>

                  <div id="question7">
                     <li class="list-group-item">Do alumni get a discount?</li>
                  </div>
                  <div id="answer7" style="display:none;">
                     <p>Of course!</p>
                  </div>

                  <div id="question8">
                     <li class="list-group-item">How do I cancel my attendance?</li>
                  </div>
                  <div id="answer8" style="display:none;">
                     <p>You cannot, and we expect to see you there.</p>
                  </div>

                  <div id="question9">
                     <li class="list-group-item">Can my band perform? Can I DJ?</li>
                  </div>
                  <div id="answer9" style="display:none;">
                     <p>Only if your shit absolutely bangs.</p>
                  </div>

               </ul>
            </div>

         </div>

      </div>

      <script src="static/main.js"></script>
   </body>
</html>
