<!DOCTYPE html>
<html>
   <head>
      <title>HHEC</title>
      <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1">
   </head>
   <body>
      <div class="container-fluid">

         <div class="row navbarRow">
            <div class="col-sm-12">
             <nav class="navbar navbar-expand-md">
             <a class="navbar-brand" href="/">HHEC</a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                 <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/program">Program</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/tickets">Tickets</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link active" href="/FAQ">FAQs</a>
                 </li>
                </ul>
             </div>
             </nav>
          </div>
         </div>

         <div class="row">
            <div class="col-sm-12">
               <ul>
                  <li>Who will be speaking at the conference?</li>
                  <li>What if I can only be there for part for part of the conference?</li>
                  <li>How do I get there?</li>
                  <li>Where do the events take place?</li>
                  <li>Where will I stay overnight?</li>
                  <li>Do students get a discount?</li>
                  <li>Do alumni get a discount?</li>
                  <li>How do I cancel my attendance?</li>
                  <li>Can my band perform? Can I DJ?</li>
               </ul>
            </div>

         </div>



      </div>
   </body>
</html>
