<!DOCTYPE html>
<html>
   <head>
      <title>HHEC</title>
      <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1">
   </head>
   <body>
      <div class="container-fluid">

         <div class="row navbarRow">
            <div class="col-sm-12">
             <nav class="navbar navbar-expand-md">
             <a class="navbar-brand" href="/">HHEC</a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                 <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/program">Program</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" href="https://tickets.princeton.edu/" target="_blank">Tickets</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/FAQ">FAQs</a>
                 </li>
                </ul>
             </div>
             </nav>
          </div>
         </div>

         <div class="row" style="position: relative; left: 0; top: 0;">

               <img src="https://live.staticflickr.com/4301/35709932740_d6756d99e7_b.jpg" class="kdot" width="100%">
               <img src="static/HHEC_bigger_logo.png" class="bigLogo" width="100%">

         </div>

         <div class="row">

            <div class="col-xs-12">
               <p>What is Hip Hop? How did it start and how did we get here?
                  For many, Hip Hop embodies much more than just an R&B sample,
                  drum section, and skilled MC. Many will talk to you about Hip
                  Hop being a culture, a lifestyle, and a way to tell a story.
                  Princeton's Hip Hop Empowerment Conference centers on that very
                  idea - that Hip Hop is a vehicle by which society tells its
                  story. Layered with themes of entrepreneurship and social
                  impact, the music genre has touched the lives of billions and
                  since its founding in the Bronx 50 years ago has become the most
                   lucrative music genre in the world valued at an estimate of
                   $62 million. Given the huge success and relevance of Hip Hop,
                   the HHEC creates a festive environment to analyze, discuss, and
                    enjoy the beautiful world of Hip Hop!</p>

               <p>The goal of the conference is to unite the Ivy-League and
                  greater New York area around the incredible impact of Hip Hop in
                  storytelling, entrepreneurship, and social impact, especially
                  in Black American communities. The day-long, student-run event
                  is expected to bring in 500-800 attendees for a day of
                  networking, breakout sessions, performances, as well as three
                  panel conversations:</p>

               <ol>
                  <li>The roots of Hip Hop and its role as a modern storytelling vehicle for Black Americans. How did Hip Hop manifest and how has it evolved into its modern form? What is its role in black American communities today?</li>
                  <li>The responsibility of mainstream artists to engage with social impact projects for the benefit of the Black American community. To what extent should we support those artists who leverage their media success to be spokespeople in tackling complex societal issues?</li>
                  <li>The potential of the Hip Hop industry to bring economic empowerment to black communities across the US. In what ways does the economic drive of the hip hop industry benefit black American communities and how can we further support those channels to build true economic power? </li>
               </ol>
            </div>

         </div>

      </div>
   </body>
</html>
